.exercise-container {
    text-align: center;
    color: white;
    margin-left: .5rem; 
    margin-top: 1rem; 
}

/* .exercise-banner {
    text-transform: uppercase;
    position: absolute;
    font-size: 4rem; 
    font-family: 'Patua One', cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.exercise-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.exercise-banner-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.desc-flex {
    display: flex; 
    flex-direction: column; 
}

.exercise-header {
    color: #000; 
    font-family: 'Patua One', cursive;
}

.desc-exercise {
    color: #000; 
    width: 40rem; 
    margin-left: 1rem; 
}

.upcoming-header {
    color: #000; 
    font-family: 'Patua One', cursive;
}

.exercise-image {
    margin-bottom: 2rem; 
    border-radius: .3rem;
    width: 47rem; 
    height: 30rem; 
}
