.exercise-container {
    text-align: center;
    color: white;
    margin-left: .5rem; 
    margin-top: 1rem; 
}

.exercise-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.exercise-banner-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.desc-flex {
    display: flex; 
    flex-direction: column; 
}

.exercise-header {
    color: #000; 
    font-family: 'Patua One', cursive;
}

.upcoming-header {
    color: #000; 
    font-family: 'Patua One', cursive;
}

.exercise-image {
    margin-bottom: 2rem; 
    border-radius: .3rem;
    width: 47rem; 
    height: 30rem; 
}


@media screen and (min-width: 375px) {
    .exercise-image {
        height: 20rem; 
    }

}

@media screen and (max-width: 414px) {
    .exercise-desc-flex {
        display: none; 
    }
} 


@media screen and (min-width: 1300px) {
    .exercise-image {
        height: 30rem; 
    }
}