.art-container {
    text-align: center;
    color: white;
    margin-left: .5rem; 
    margin-top: 1rem; 
}

.art-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.art-banner-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.desc-flex {
    display: flex; 
    flex-direction: column; 
}

.art-header {
    color: #000; 
    font-family: 'Patua One', cursive;
}

.desc-art {
    color: #000; 
    width: 40rem; 
    margin-left: 1rem; 
}

.upcoming-header {
    color: #000; 
    font-family: 'Patua One', cursive;
}

.art-image {
    margin-bottom: 2rem; 
    border-radius: .3rem;
    width: 47rem; 
    height: 30rem; 
}

@media screen and (min-width: 375px) {
    .art-image {
        height: 20rem; 
    }

}

@media screen and (max-width: 414px) {
    .art-desc-flex {
        display: none; 
    }
} 


@media screen and (min-width: 1300px) {
    .art-image {
        height: 30rem; 
    }
}
