.nature-container {
    text-align: center;
    color: white;
    margin-left: .5rem; 
    margin-top: 1rem; 
}

.nature-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.nature-banner-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.desc-flex {
    display: flex; 
    flex-direction: column; 
    margin-left: 5rem; 
}

.upcoming-header {
    color: #F39A6D;  
    font-family: 'Patua One', cursive;
}

.nature-image {
    margin-bottom: 2rem; 
    border-radius: .3rem;
    width: 47rem; 
    height: 30rem; 
}

@media screen and (min-width: 375px) {
    .nature-image {
        height: 18rem;
        margin-right: 0.6rem;
    }

}

@media screen and (max-width: 414px) {
    .nature-desc-flex {
        display: none; 
    }
} 


@media screen and (min-width: 1300px) {
    .nature-image {
        height: 30rem; 
    }
}
