.container{
width:300px;
height:300px;
margin:100px auto;
perspective:1000px;
}

.home-header {
    text-transform: uppercase; 
    font-family: 'Patua One', cursive;
    text-align: center; 
    font-size: 2rem;
}

.home-container {
    margin-top: 2rem;
}

.splash-header2 {
    height: 32rem; 
    margin-left: .8rem; 
    border-radius: .2rem; 
}

.main-splash-img{
    width: 100%;  
    margin-top: -2rem; 
    margin-bottom: 2rem; 
}

.featured-flex {
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap; 
}

