.nav-list {
    list-style-type: none;
}

.list-item {
    display: flex; 
    justify-content: space-around; 
    font-family: 'Patua One', cursive;
    padding: 1rem; 
}

.list-item a{
    text-decoration: none; 
    font-family: 'Patua One', cursive;
    color: #fff; 
}

.list-item a:visited {
    color: #fff; 
}

.navbar-container {
    background-color: #4B4748; 
}

.navbar-logo {
    width: 2.4rem; 
    height: 2rem; 
    margin-top: -.5rem; 
}