.profile-header {
    font-family: 'Patua One', cursive;
    text-align: center;
    margin-bottom: 2rem; 
}

.profile-header2 {
    font-family: 'Patua One', cursive;
    text-align: center;
    margin-bottom: 2rem; 
    color: #F39A6D; 
}

.profile-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.profile-img {
    border-radius: 2rem;
    border: 1px solid #fff; 
    width: 200px; 
    height: 200px; 
    margin-bottom: 2rem; 
}

.profileinfo-container{
    display: flex; 
    margin-top: -1rem; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-size: cover; 
    /* background-image: url('https://images.unsplash.com/photo-1455245737663-3edc3b61dd1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'); */
}

.profileedit-btn {
    text-transform: uppercase; 
    padding: 1rem; 
    font-family: 'Patua One', cursive;
    border-radius: .5rem; 
    font-size: 1rem; 
    background-color: #CEA784; 
    color: #fff; 
    border: 0 solid #CEA784; 
    width: 10rem; 
    outline: none; 
    margin-bottom: 5rem; 
}


.profile-description {
    font-family: 'Patua One', cursive;
    width: 20rem; 
    font-size: 1.3rem; 
    text-align: center; 
    margin-bottom: 1rem; 
    text-align: center; 
}

.edit-user-container {
    background-size: cover; 
    margin-top: -1rem; 
    /* background-image: url('https://i.imgur.com/FiWUjk8.png'); */
    height: 100vh; 
}

.edit-user-form {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.edit-user-input1 {
    width: 15rem; 
    height: 1rem; 
    background-color: #fff;
    padding: 1.5rem; 
    margin-top: 1rem; 
    outline: none; 
    font-size: 1rem; 
    color: #000;
    border: .05rem solid #000;
    border-radius: .5rem; 
    transition: all .2s
}

.edit-user-input2 {
    width: 14.9rem; 
    height: 6rem; 
    margin-bottom: 2rem;
    border: .05rem solid #000;
    border-radius: .5rem; 
    margin-top: 1rem; 
}

.edituser-header {
    font-family: 'Patua One', cursive;
    text-align: center; 
    margin-top: 4rem !important;
}
