.profile-header {
    font-family: 'Patua One', cursive;
    text-align: center; 
}

.profile-flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.profile-img {
    border-radius: 100%;
    width: 200px; 
    height: 200px; 
}

.profileinfo-container{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.profileedit-btn {
    text-transform: uppercase; 
    padding: 1rem; 
    font-family: 'Patua One', cursive;
    border-radius: 2rem; 
    font-size: 1rem; 
    background-color: #71A336; 
    color: #fff; 
    border: 0 solid #71A336; 
    width: 10rem; 
    outline: none; 
    margin-bottom: 5rem; 
}

.profile-description {
    font-family: 'Patua One', cursive;
    width: 20rem; 
    text-align: center; 
    margin-bottom: 3rem; 
}