.login-container input {
    width: 15rem; 
    height: 1rem; 
    /* border: 0rem solid #fff;  */
    border:none;
    background-color: #FFFFFF;
    /* border-radius: .5rem;  */
    padding: 2rem; 
    outline: none; 
    font-size: 1rem; 
    color: #000;
    border-bottom: .05rem solid #000;
    transition: all .2s
}

.login-container {
    height: 100vh; 
    margin-top: -1rem;
}

.login-flex {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 6rem; 
}

.login-btn {
    text-transform: uppercase; 
    padding: 1rem; 
    font-family: 'Patua One', cursive;
    border-radius: .5rem; 
    font-size: 1rem; 
    background-color: #CEA784; 
    color: #fff; 
    border: 0 solid #CEA784; 
    width: 10rem; 
    outline: none; 
}

.login-header {
    font-family: 'Patua One', cursive;
}

.login-input2 {
    margin-bottom: 3rem; 
}