.register-container input {
    width: 15rem; 
    height: 1rem; 
    /* border: 0rem solid #fff;  */
    border:none;
    background-color: #f0f0f0;
    /* border-radius: .5rem;  */
    padding: 1.2rem; 
    outline: none; 
    font-size: 1rem; 
    color: #000;
    border-bottom: .05rem solid #000;
    transition: all .2s
}

/* body {
    background-color: pink !important;
} */

.register-flex {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.register-btn {
    text-transform: uppercase; 
    padding: 1rem; 
    font-family: 'Patua One', cursive;
    border-radius: 2rem; 
    font-size: 1rem; 
    background-color: #71A336; 
    color: #fff; 
    border: 0 solid #71A336; 
    width: 10rem; 
    outline: none; 
}